@mixin base_nav_item_style {
  text-transform: capitalize;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  & .nav_link {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    transition: all ease-in 0.2s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  & .nav_link:hover,
  & .nav_link.active {
    color: var(--primary-color);
  }
}

.header {
  display: flex;
  height: fit-content;
  flex-direction: column;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.header_top {
  padding: 8px 0;
  background-color: #fff;
  flex: 1;
  display: flex;
  align-items: center;
  min-height: var(--header-height);

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.header_options {
  display: flex;
  align-items: center;

  & .menu-btn {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--text-color);
    display: none;

    &:hover i {
      filter: brightness(0.8);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.header_bottom {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.05);
}

.navigation {
  height: 100%;

  & ul {
    margin: 0;
    padding: 0;
  }

  & .nav_item {
    @include base_nav_item_style();
    height: 100%;
    padding: 0 32px;
  }
}

.nav_item + .nav_item {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.drawer {
  & .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  & .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: min(80%, 300px);
    z-index: 2;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    flex-direction: column;
    animation: slide ease-in 0.3s;

    & .nav_item {
      @include base_nav_item_style();
      padding: 10px 6px;
      justify-content: start;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      & .nav_link {
        font-size: 1.8rem;
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

// responsiveness for header
@media screen and (max-width: 768px) {
  .header_top .menu-btn {
    display: block;
  }

  .user {
    display: none;
  }

  .header_bottom {
    display: none;
  }
}
