.footer {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.bottom {
  background-color: var(--primary-color);
  padding: 4px 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}

.logo {
  width: 80px;
  border-radius: 4px;
  margin-bottom: 16px;
  height: 80px;
}

.container {
  width: 100%;
  display: flex;
  flex: 4;
}

.section {
  flex: 1;
  & li {
    font-size: 1.6rem;
    font-weight: 400;
    transition: all ease-in 0.1s;
    color: #888;

    &:hover {
      color: #fff;
    }
  }

  & li + li {
    margin-top: 6px;
  }
}

.title {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  user-select: none;
  color: var(--primary-color);
}
