.wrapper {
  background-color: rgba(0, 0, 0, 0.02);
}

.breadcrumb {
  display: flex;
  gap: 6px;
  font-size: 1.8rem;
  color: var(--text-color);
  align-items: center;

  & a {
    cursor: pointer;
    transition: all ease-in 0.1s;

    &:hover {
      color: var(--primary-color);
    }
  }

  & span:last-child {
    color: var(--primary-color);
  }
}

// right sidebar
.sidebar {
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: sticky;
  top: 0;
  align-self: start;
}

.tour_content {
  margin-top: 8px;
  color: var(--text-color);

  & .map {
    margin: 4px 0;
    padding: 8px 0;
    overflow: hidden;
    border-radius: 4px;
  }

  & li {
    font-size: 1.8rem;
    color: var(--text-color);
  }
}

.title {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--text-color);
}
