@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 80px;
  --primary-color: #1ba0e2;
  --secondary-color: ;
  --text-color: #333;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

// responsiveness
.app {
  min-height: calc(100vh - var(--header-height));
}

.btn {
  outline: none;
  border: none;
  transition: all ease-in 0.2s;

  &:active {
    transform: scale(0.8);
    transform-origin: center;
  }

  &:hover {
    filter: brightness(0.9);
  }
}

.inner {
  display: block;
  width: 96vw;
  max-width: 1120px;
  margin: 0 auto;
}

.row {
  display: flex;
}

// tablet
@media screen and (max-width: 768px) {
  .inner {
    width: 96vw;
    padding: 0 16px;
  }
}

// mobile
@media screen and (max-width: 486px) {
}
